.processors-container {
    margin: 1rem .5rem;
    border: 3px outset #fff;
    padding: 1em 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    background-color: rgb(199, 196, 196);

        .parraf {
            color: rgb(80, 80, 218);
        }
}