@import '../base/maps.scss';

.main-section {
    display: map-get($flexbox, dspl);
    justify-content: map-get($flexbox, contentcenter);

    .banner {
        margin: 2rem;

        @media screen and (max-width: 1138px) {
            display: none;
        }
    }

        .banner img {
            position: sticky;
            top: 0;
        }
    
            .productos-container {
                display: map-get($flexbox, dspl);
                align-items: map-get($flexbox, algitems);
                flex-direction: map-get($flexbox, directioncolumn);

                @media screen and (max-width: 985px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    justify-items: center;
                }

                @media screen and (max-width: 500px) {
                    display: map-get($flexbox, dspl);
                    flex-direction: map-get($flexbox, directioncolumn);
                }
            }
    
                .productos-container a {
                    display: inline-block;
                    width: 75%;
                    color: #000;

                    @media screen and (max-width: 985px) {
                        width: 100%;
                    }
                }
    
                    .producto {
                        display: map-get($flexbox, dspl);
                        justify-content: center;
                        margin: 1rem;
                        padding: .5em;
                        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 33%);
                        top: -6px;
                        font-family: 'Montserrat', serif;

                        @media screen and (max-width: 500px) {
                            align-items: map-get($flexbox, algitems);
                            flex-direction: map-get($flexbox, directioncolumn);
                        }
                    }
    
                        .contenido-principal {
                            display: map-get($flexbox, dspl);
                            flex-direction: map-get($flexbox, directioncolumn);
                            justify-content: map-get($flexbox, contentbetween);
                            margin: 0 1em;
                        }
    
                            .titulo {
                                font-size: 1.4em;
                                font-weight: 20px;
                                
                            }
    
                                .price {
                                    align-self: map-get($flexbox, algselfstart);
                                }
    
                                    .add-cart {
                                        align-self: center;
                                    }
    
                                        .add-cart button {
                                            font-family: 'Montserrat', serif;
                                            color: #fff;
                                            background: #0d6efd;
                                            padding: .4em 1em;
                                            border-radius: 5px;
                                            border: none;

                                            &:hover {
                                                background: #0b5ed7;
                                                letter-spacing: 1px;
                                            }
                                        }
}